In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Geraldton,AU,2022-04-14 15:08:13,-28.7667,114.6000,64.81,94,0,8.05
1,1,Miri,MY,2022-04-14 15:11:47,4.4148,114.0089,78.58,84,23,2.66
2,2,Altagracia De Orituco,VE,2022-04-14 15:11:48,9.8601,-66.3814,89.08,40,27,8.55
3,3,Mitsamiouli,KM,2022-04-14 15:11:48,-11.3847,43.2844,82.87,76,13,9.08
4,4,Mahibadhoo,MV,2022-04-14 15:11:48,3.7833,72.9667,85.21,71,100,9.89

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [17]:
#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Miri,MY,2022-04-14 15:11:47,4.4148,114.0089,78.58,84,23,2.66
2,2,Altagracia De Orituco,VE,2022-04-14 15:11:48,9.8601,-66.3814,89.08,40,27,8.55
3,3,Mitsamiouli,KM,2022-04-14 15:11:48,-11.3847,43.2844,82.87,76,13,9.08
4,4,Mahibadhoo,MV,2022-04-14 15:11:48,3.7833,72.9667,85.21,71,100,9.89
8,8,Sibolga,ID,2022-04-14 15:11:50,1.7427,98.7792,78.08,89,100,2.39
9,9,Lakatoro,VU,2022-04-14 15:11:50,-16.0999,167.4164,80.51,81,15,7.38
17,17,Phan Thiet,VN,2022-04-14 15:08:54,10.9333,108.1000,79.65,90,89,2.51
26,26,Vaini,TO,2022-04-14 15:11:56,-21.2000,-175.2000,77.16,100,20,10.36
29,29,Sigli,ID,2022-04-14 15:11:57,5.3848,95.9609,81.16,81,92,6.04
31,31,Luba,GQ,2022-04-14 15:11:58,3.4568,8.5547,81.21,77,74,6.17

In [26]:
preferred_cities_df.count()

City_ID       176
City          176
Country       174
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1                    Miri      MY     78.58   4.4148  114.0089
2   Altagracia De Orituco      VE     89.08   9.8601  -66.3814
3             Mitsamiouli      KM     82.87 -11.3847   43.2844
4              Mahibadhoo      MV     85.21   3.7833   72.9667
8                 Sibolga      ID     78.08   1.7427   98.7792
9                Lakatoro      VU     80.51 -16.0999  167.4164
17             Phan Thiet      VN     79.65  10.9333  108.1000
26                  Vaini      TO     77.16 -21.2000 -175.2000
29                  Sigli      ID     81.16   5.3848   95.9609
31                   Luba      GQ     81.21   3.4568    8.5547

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Miri,MY,78.58,4.4148,114.0089,"Mega Hotel, Miri"
2,Altagracia De Orituco,VE,89.08,9.8601,-66.3814,Posada Quinta Mi Refugio
3,Mitsamiouli,KM,82.87,-11.3847,43.2844,Foyer ADM
4,Mahibadhoo,MV,85.21,3.7833,72.9667,Omadhoo Inn
8,Sibolga,ID,78.08,1.7427,98.7792,Hotel Syariah CN Darussalam
9,Lakatoro,VU,80.51,-16.0999,167.4164,Lakatoro Palm Lodge
17,Phan Thiet,VN,79.65,10.9333,108.1000,Hotel Saigon-PT
26,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
29,Sigli,ID,81.16,5.3848,95.9609,Losmen Dua Mali
31,Luba,GQ,81.21,3.4568,8.5547,

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))